
body{
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    

}


.frame{
    width: 40% ;
    height: 23em;
    margin-top:3em;
    background-color: darkgray;
    border-radius: 3%;

}

.display{
    background-color:bisque ;
    width:80%;
    height: 5%;
    padding: 3px ;
    margin:12px 32px 0;
    display:flex;
}

.lowerDisplay{
    background-color:bisque ;
    width:80%;
    height: 15%;
    padding: 3px ;
    margin:0px 32px 12px;
    display:flex;
    align-items: flex-end;
    font-size: 35px;
}
.buttonContainer{
    margin:8px;
    padding :3px 25px;
    
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    



}

.button{
    width: 60px;;
    height:40px;
    border-radius: 20%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    


}

.button:hover{
    background-color: dimgray;
}

#equal{
width:120px;
}